<meta charset="utf-8">
<title>
	{{ this.theme.site_name }} — {% partial 'header/_page-title' %}
</title>
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="author" content="Dmtttvn">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="generator" content="OctoberCMS">