==
<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <div class="uk-margin-left uk-margin-right uk-margin-top">
            {% partial 'sidebar/nav' %}
        </div>
    </div>
</div>