<div
    id="layout-sidebar-inner"
    class="uk-height-1-1 uk-margin-left uk-margin-right uk-margin-xlarge-top">
        <a href="{{ 'welcome'|page }}"><img src="{{ 'assets/images/logo.png'|theme }}" alt=""></a>

        {% partial 'sidebar/nav' %}

        {% partial 'sidebar/search' %}

        {% partial 'sidebar/footer' %}
</div>