<ul class="uk-grid">
    {% for service in services %}
        <li
            class="
                uk-width-1-2
                uk-width-medium-1-6
                uk-width-large-1-6
                uk-text-center
            ">
            <a
                href="{{ 'portfolio/service'|page({ slug: service.slug }) }}">
                <div
                    class="uk-border-circle uk-align-center"
                    style="width: 100px; height: 100px;
                        background-image: url({{ service.cover.getThumb(150, 150, {'mode': 'crop'}) }});
                        background-position: center center;
                        background-size: auto auto;">
                </div>
                <h3>
                    {% if service.short_name %}
                        {{ service.short_name }}
                    {% else %}
                        {{ service.name }}
                    {% endif %}
                </h3>
            </a>
        </li>
    {% endfor %}
</ul>