{% put header %}
    <h1 class="uk-text-center uk-margin-remove">
        {% partial 'header/_page-title' pageTitle = 'Наши работы' %}
    </h1>

    <div class="uk-flex uk-flex-center uk-margin-small-top">
        <ul class="uk-subnav uk-subnav-pill">
            <li class="uk-active">
                <a href="#">по хронологии</a>
            </li>
            <li class="uk-disabled">
                <a href="#">самое важное</a>
            </li>
        </ul>
    </div>
{% endput %}

<div id="service-list" class="uk-margin-large-top uk-margin-xlarge-bottom">
    {% partial __SELF__ ~ '::_list_services' %}
</div>
<div id="project-list">
    {% partial __SELF__ ~ '::_list_projects' %}
</div>