<div
    class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-3 uk-margin-large-bottom"
    style="height: 420px;">
    <div 
        id="project-{{ project.id }}"
        class="
            project-item project-item-default
            uk-panel uk-panel-box uk-height-1-1
            uk-scrollspy-inview uk-invisible
        ">
        <div class="uk-panel-teaser" style="height: 220px;">
            <a href="{{ 'portfolio/project'|page({ slug: project.slug }) }}">
                <div
                    class="uk-width-1-1 uk-height-1-1"
                    style="
                        background-image: url(
                            {% if project.cover %}
                                {{ project.cover.getThumb(460, 220, {'mode': 'crop'}) }}
                            {% endif %});
                        background-position: center center;
                        background-size: auto auto;
                    ">
                </div>
            </a>
        </div>

        <div class="uk-text-small uk-text-muted">
            <time datetime="{{ project.produced_at|strftime('%d %B %Y') }}">
                {{ project.produced_at|strftime('%d %B %Y') }},&nbsp;
            </time>
            {{ project.place }}
            {% if project.format == 'complex' %}
                <span class="uk-badge uk-float-right">сложный</span>
            {% endif %}
        </div>
        <h2 class="uk-margin-remove">
            <a href="{{ 'portfolio/project'|page({ slug: project.slug }) }}">
                {{ str_limit(project.name, 40) }}
            </a>
        </h2>
        <p class="uk-margin-small-top">
            {{ str_limit(project.description, 160) }}
        </p>
        <div
            class="uk-position-absolute uk-position-bottom uk-text-small uk-text-muted"
            style="padding: 16px;">
            {% partial 'portfolio/_item_services' %}
        </div>

    </div>
</div>