<a  href="{{ 'portfolio/project'|page({ slug: project.slug }) }}"
    class="uk-width-1-1 uk-width-large-2-3 uk-height-1-1 uk-margin-large-bottom">
    <div
        id="project-{{ project.id }}"
        class="
            project-item project-item-important
            uk-panel uk-panel-box uk-height-1-1
            uk-cover-background uk-border-rounded
            uk-scrollspy-inview uk-invisible
        "
        style="
            background-image: url(
                {% if project.cover %}{{ project.cover.getThumb(760, 420, {'mode': 'crop'}) }}{% endif %}
            );
            background-position: center center;
            background-size: cover;
            height: 420px;
        ">
        <div class="uk-panel-body uk-contrast uk-position-cover uk-flex uk-flex-bottom">
            <div class="uk-grid">
                <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-2">
                    <h2 class="uk-h1">
                        {{ project.name }}
                    </h2>
                </div>
                <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-2">
                    <p>
                        {{ project.description }}
                    </p>
                </div>
                <div class="uk-width-1-1 uk-margin-top uk-text-small">
                    {% partial 'portfolio/_item_services' %}
                </div>
            </div>
        </div>
    </div>
</a>