{% set block = block %}
{% set loopIndex = loopIndex %}

<div class="uk-container uk-container-center uk-margin-bottom">
    {% if block.title %}
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-width-medium-7-8 uk-width-large-7-8 uk-push-1-8">
                <h2 class="uk-margin-large-top">{{ block.title }}</h2>
            </div>
        </div>
    {% endif %}
    {%  partial 'widgets/gallery'
        images = block.images
        gridSize = block.data.grid_size groupId = 'group' ~ loopIndex %}
</div>