{% set block = block %}
{% set loopIndex = loopIndex %}

<div class="uk-container uk-container-center uk-margin-bottom">
    {% if block.title %}
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-width-medium-7-8 uk-width-large-7-8 uk-push-1-8">
                <h2 class="uk-margin-large-top">{{ block.title }}</h2>
            </div>
        </div>
    {% endif %}
    <div class="uk-grid uk-margin-top">
        <div class="uk-width-1-1 uk-width-medium-5-8 uk-width-large-5-8 uk-push-1-8">
            {{ block.data.content|raw }}
        </div>
        <div class="uk-width-1-1 uk-width-medium-2-8 uk-width-large-2-8 uk-push-1-8">
            {% partial  __SELF__ ~ '/_block_text_extra' items = block.data.extra %}
        </div>
    </div>
</div>