{% set items = items %}

{% for item in items %}
    <div 
        class="
            extra-item uk-width 
            uk-align-center uk-text-center
        {% if not loop.last %}
            uk-margin-xlarge-bottom 
        {% endif %}
        " 
        style="width: 180px;">
        {% if item.attachment.type == 'image' %}
            <div
                class="
                    uk-cover-background uk-align-center
                {% if item.attachment.is_circled %}
                    uk-border-circle
                {% endif %}
                "
                style="height: 120px; width:120px; background-image: url({{ item.attachment.image_url|media }});
            "></div>
        {% elseif item.attachment.type == 'video' %}
            <div class="video-container">
                {{ item.attachment.video_code|raw }}
            </div>
        {% endif %}
        {{ item.comment|raw }}
    </div>
{% endfor %}