<div class="uk-height-1-1 uk-margin-bottom">
    <div
        class="uk-cover-background uk-position-relative uk-height-1-1"
        style="
            background-image: url(
                {% if project.cover %}
                    {{ project.cover.getPath }}
                {% endif %});
            background-position: center center;
            background-size: cover;
        ">
        <div
            class="uk-contrast uk-text-center uk-width-1-1"
            {% if agent.isMobile or agent.isTablet %}
                style="padding-top: 64px;"
            {% else %}
                style="padding-top: 48px;"
            {% endif %}
            >
            <h1 class="uk-heading-large">
                {% partial 'header/_page-title' %}
            </h1>
            <p class="uk-width-medium-1-2 uk-width-small-1-1 uk-push-1-4">
                {{ project.description}}
            </p>
        </div>
        <span class="uk-position-absolute uk-text-center uk-width-1-1" style="bottom: 48px;">
            <button
                class="uk-button uk-button-transparent uk-button-large"
                data-uk-toggle="{target:'#video-overlay'}">
                {{ 'Посмотреть видео'|upper }}
            </button>
        </span>
        <div
            id="video-overlay"
            class="uk-hidden uk-position-cover uk-width-1-1 uk-height-1-1 uk-vertical-align"
            style="background-color: #000;">
                <a
                    class="uk-button uk-button-mini uk-button-transparent uk-position-absolute"
                    data-uk-toggle="{target:'#video-overlay'}"
                    style="top: 12px; right: 10px;">
                    {{ 'закрыть окно' }}
                </a>
                <div class="video-container uk-width-1-1 uk-height-1-1 uk-vertical-align-middle">
                    {{ project.media.video_code|raw }}
                </div>
        </div>
    </div>
</div>