<hr class="uk-margin-large" style="border-top: 2px solid #c0c5c5;">
<div>
    <h2>смотрите также</h2>
</div>
<div
    class="uk-grid uk-grid-medium"
    data-uk-scrollspy="{cls:'uk-animation-fade uk-invisible', target:'.project-item', delay:200}">
    {% for project in related %}
        {%  partial 'portfolio/item_default' project = project %}
    {% endfor %}
</div>