<div class="uk-text-center uk-text-muted">
    <time datetime="{{ project.produced_at|strftime('%d %B %Y') }}">
        {{ project.produced_at|strftime('%d %B %Y') }},&nbsp;
    </time>
    {{ project.place }}
</div>
<h1 class="uk-text-center uk-margin-remove">
    {% partial 'header/_page-title' %}
</h1>
<div class="uk-text-small uk-text-center uk-margin-small">
    {% for service in project.services %}
        <span>
            {% if service.short_name %}{{ service.short_name|upper }}{% else %}{{ service.name|upper }}{% endif %}{% if not loop.last %},&nbsp;{% endif %}
        </span>
    {% endfor %}
</div>