<span class="uk-text-indent">
    {{ project.details.about|raw }}
    <ul class="uk-dotnav uk-flex-center uk-margin-xlarge-bottom">
        <li class="uk-active"><span></span></li>
    </ul>
</span>
<hr>
<p>
    Плюсы. {{ project.details.pluses|raw }}
</p>
<p>
    Минусы. {{ project.details.minuses|raw }}
</p>