<div class="uk-grid uk-margin-xlarge-top">
    <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-5-8">
        <div class="slider-container uk-margin-xlarge-bottom">
            {% partial 'widgets/slider' images=project.photo_report width=660 height=430 %}
        </div>
        <div class="video-container">
            {{ project.media.video_code|raw }}
        </div>
    </div>
    <div class="uk-visible-small uk-width-1-1 uk-margin-large"></div>
    <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-3-8">
        {% partial __SELF__ ~ '/_simple_details' %}
    </div>
</div>