<div class="uk-grid">
    <div class="uk-visible-small uk-width-1-1 uk-margin-small"></div>
    <div
        class="
            uk-width-1-1
            uk-width-large-5-8
        {% if project.format == 'complex' %}
            uk-width-medium-5-8
            uk-push-1-8
        {% endif %}
        ">
        <h2
            class="
        {% if project.format == 'simple' %}
            uk-text-center
        {% endif %}
            ">
            Работа команды над проектом
        </h2>
        {{ project.details.teamwork|raw }}
    </div>
</div>

{% partial __SELF__ ~ '/_teamwork_comrades' %}

{%  partial 'widgets/gallery'
    images = project.backstage_photos
    gridSize = project.backstage_photos|length
    groupId = 'teamwork' %}