{% set roles = project.roles %}

<div class="uk-grid uk-grid-small uk-width-1-1 uk-margin-large-bottom" data-uk-grid="">
    {% if roles|length  %}
        {%  set rolesPerColumn  = agent.isTablet or agent.isDesktop
                                ? (roles|length / 4)|round(0)
                                : (roles|length / 2)|round(0)   %}
        {% for role in roles %}
            {% if rolesPerColumn == 1 or loop.index % rolesPerColumn == 1 %}
                <div class="uk-width-1-2 uk-width-medium-1-4 uk-width-large-1-4 uk-margin-bottom">
            {% endif %}
                <p class="uk-text-small">{{ role.name }}<br>
                {% for comrade in role.comrades %}
                    {% for comradeProject in comrade.projects %}
                        {% if(comradeProject.id == project.id ) %}
                            {{ comrade.name }}<br>
                        {% endif %}
                    {% endfor %}
                    {% if loop.last %}</p>{% endif %}
                {% endfor %}
            {% if loop.last or loop.index % rolesPerColumn == 0 %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>