{% partial __SELF__ ~ '/_complex_header' %}

{% partial __SELF__ ~ '/_complex_content' %}

<div class="uk-container uk-container-center uk-margin-xlarge-top">
    {% partial __SELF__ ~ '/_teamwork' %}
</div>

<div class="uk-container uk-container-center">
    {% partial __SELF__ ~ '/_related' %}
</div>

<style>
    .extra-item p {
        font-size: 14px;
        line-height: 16px;
    }
</style>