{% set images = images %}
{% set gridSize = gridSize %}
{% set groupId = groupId %}

<div
    class="
        uk-grid uk-grid-small
        uk-grid-width-small-1-1
        uk-grid-width-medium-1-{{ (gridSize % 2 == 0) ? 2 : gridSize }}
        uk-grid-width-large-1-{{ gridSize }}
        uk-margin-top
    ">
    {% for image in images %}
        {% set imageThumb  = image.getThumb(800, 600, 'portrait') %}
        <div>
            <a  href="{{ imageThumb }}"
                data-lightbox-type="image" data-uk-lightbox="{group:'{{ groupId }}'}" title="{{ image.title }}">
                <img src="{{ imageThumb }}" width="800" height="600" alt="">
            </a>
            <p class="uk-h5 uk-margin-small-top">{{ image.title }}</p>
        </div>
    {% endfor %}
</div>