{% set images = images %}
{% set height = height %}
{% set width = width %}

<div class="uk-slidenav-position" data-uk-slideshow>
    <ul class="uk-slideshow uk-margin-bottom" style="height: {{ height }}px;">
        {% for image in images %}
            <li>
                <div
                    class="uk-cover-background uk-position-cover"
                    style="background-image: url({{ image.getThumb(width, height, {'mode': 'crop'}) }});">
                </div>
                <canvas
                    width="{{width}}" height="{{height}}"
                    style="width: 100%; height: auto; opacity: 0;"></canvas>
            </li>
        {% endfor %}
    </ul>
    <a  href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"
        data-uk-slideshow-item="previous"
        style="top: 47.5%;"></a>
    <a  href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next"
        data-uk-slideshow-item="next"
        style="top: 47.5%;"></a>
    <ul class="uk-dotnav uk-flex-center">
        {% for image in images %}
            <li data-uk-slideshow-item="{{ loop.index0 }}"><a href="#"></a></li>
        {% endfor %}
    </ul>
</div>