<div
    class="news-list uk-margin-small-top uk-margin-large-bottom"
    data-year="{{ yearNow }}"
    data-uk-scrollspy="{ topoffset: 0, repeat: true }">

        {% for key, newsByMonth in news %}
            <div class="uk-grid uk-grid-medium">
                <div
                    id="{{ key }}"
                    class="
                        uk-text-right
                        uk-width-medium-2-8
                        uk-width-2-8
                    ">
                    {{ key|strftime('%OB') }}
                </div>
                <div
                    class="
                        uk-width-medium-5-8
                        uk-width-6-8
                    ">
                    {% for newsItem in newsByMonth %}
                        <p
                            {% if (newsItem.important == true) %}class="uk-h2"{% endif %}
                            {% if (newsItem.important == true and loop.index == 1)  %}
                                style="margin-top: -6px;"
                            {% endif %}>
                            {{ newsItem.content }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

</div>