<ul class="year-list uk-subnav uk-subnav-pill uk-subnav-timeline">
    {% for year in __SELF__.years %}
        <li id="{{ year }}">
            <span>{{ year }}</span>
        </li>
    {% endfor %}
</ul>