{% put fixed_header %}
    <div class="uk-container uk-container-center">
        <time
            datetime="{{ 'now'|strftime('%Y-%m-%d') }}"
            class="uk-flex uk-flex-center uk-text-muted">
            {{ "now"|strftime('%d %B %Y') }}
        </time>

        <h1 class="uk-text-center uk-margin-remove">
            {% set pageTitle = agent.isDesktop or agent.isTablet ? 'Новости «Орион-Арта»' : this.page.title %}
            {% partial 'header/_page-title' pageTitle = pageTitle %}
        </h1>

        <div class="uk-flex uk-flex-center uk-margin-small-top">
            {% partial __SELF__ ~ "::_list_years" %}
        </div>
    </div>
{% endput %}

<div class="news-placeholder" data-uk-observe>
    {% partial __SELF__ ~ "::_list_news" %}
</div>

<div
    id="scrollspy"
    class="uk-text-center uk-margin-xlarge"
    data-uk-scrollspy="{ topoffset: 500, repeat: true }">
    <i class="uk-icon-gear uk-icon-spin uk-icon-medium uk-text-muted uk-hidden"></i>
</div>

{% put scripts %}
    <script type="text/javascript">
        $(function() {
            var timeline        = $('.year-list'),
                ajaxPlaceholder = $('.news-placeholder'),
                scrollspy       = $('#scrollspy'),
                spinner         = $('#scrollspy i'),
                timelinePills   = timeline.find('li');

            var addContent = function() {
                spinner.removeClass('uk-hidden');

                setTimeout(function() {
                    $.request('{{ __SELF__ }}::onGetNews', {
                        data: {
                            previous_year: $('.news-list').last().data('year') - 1
                        },
                        success: function(data) {
                            ajaxPlaceholder.append(data.result);
                            spinner.addClass('uk-hidden');
                        }
                    });
                }, 200);
            };

            $.UIkit.ready(function() {
                $('.news-list').on('inview.uk.scrollspy', function(event) {
                    timelinePills.removeClass('uk-active');
                    $('#' + $(event.target).data('year')).addClass('uk-active');
                });
                scrollspy.on('inview.uk.scrollspy', function(event) {
                    addContent();
                });
            });
            /*
            var timelinePillCoordinates = $(timelinePills).map(function(val, i) {
               return [[
                    $(this).position().left,
                    $(this).position().top
                ]];
            }).get();
            */
        });
    </script>
{% endput %}
