<ul class="uk-list uk-contrast">
    {% for item in staticMenu.menuItems %}
    	<li style="line-height: 24px;">
    		<a href="{{ item.url }}" style="color: #949B9B;">{{ item.title }}</a>
    	</li>
    {% endfor %}
</ul>