<form class="uk-search uk-width-1-1" data-uk-search="{source:'{{'assets/tests/_searchautocomplete.json'|theme}}'}">
    <input class="uk-search-field uk-width-1-1" type="search" placeholder="поиск" autocomplete="on">
    <div class="uk-dropdown uk-dropdown-search" aria-expanded="false"></div>
</form>