<div class="uk-margin-xlarge-top">
    {% placeholder header default %}
        <h1 class="uk-text-center">
            {% partial 'header/_page-title' %}
        </h1>
    {% endplaceholder %}
</div>