<div
    class="uk-width-1-1 uk-text-center"
    style="
        background-color: #fff;
        height: 48px;
        position: fixed;
        vertical-align: middle;
        z-index: 9000;
    ">
    <a  href="#"
        class="uk-float-left uk-text-muted" 
        data-uk-offcanvas="{ target:'#offcanvas'} "
        style="
            margin-right: -48px;
            line-height: 48px;
            width: 48px;
        ">
        <i class="uk-icon uk-icon-bars"></i>
    </a>
    <div class="uk-height-1-1 uk-vertical-align">       
        <a href="{{ 'welcome'|page }}" class="uk-vertical-align-middle">
            <img src="{{ 'assets/images/logo.png'|theme }}" alt="">
        </a>
    </div>
</div>