<h3 class="uk-text-center">
    {{ 'Раздел в процессе разработки'|upper }}
</h3>
<p class="uk-text-center">
    <i class="uk-icon uk-icon-small uk-icon-cog uk-text-muted"></i>
    <i class="uk-icon uk-icon-large uk-icon-cogs"></i>
    <i class="uk-icon uk-icon-small uk-icon-cog uk-text-muted"></i>
</p>