//
// Component: Article
//
// ========================================================================


// Variables
// ========================================================================

@article-margin-top:                            @global-margin-large;

@article-title-font-size:                       round((@global-font-size * 2.6)); // 36px / 42px
@article-title-line-height:                     round((@article-title-font-size * 1.154)); // 42px / 48px

@article-meta-font-size:                        round((@global-font-size * 0.85)); // 12px / 14px
@article-meta-line-height:                      round((@article-meta-font-size * 1.46)); // 18px / 20px
@article-meta-color:                            @global-muted-color;

@article-lead-color:                            @global-color;
@article-lead-font-size:                        round((@global-font-size * 1.28)); // 18px / 20px
@article-lead-line-height:                      round((@article-lead-font-size * 1.32)); // 24px / 26px

@article-divider-margin:                        @global-margin-large;
@article-divider-border:                        @global-border-default;

//
// New
//

@article-border:                                @global-border-default;


// Sub-object `uk-article-title`
// ========================================================================

.hook-article-title() {}


// Sub-object `uk-article-meta`
// ========================================================================

.hook-article-meta() {}


// Sub-object `uk-article-lead`
// ========================================================================

.hook-article-lead() {}


// Sub-object `uk-article-divider`
// ========================================================================

.hook-article-divider() {}


// Miscellaneous
// ========================================================================

.hook-article-misc() {

    .uk-article + .uk-article {
        padding-top: @article-margin-top;
        border-top: 1px solid @article-border;
    }

}