//
// Component: Base
//
// ========================================================================


// Variables
// ========================================================================

@base-body-background:                          @global-background;
@base-body-font-family:                         "Roboto", Helvetica, Arial, sans-serif;
@base-body-font-size:                           (@global-font-size + 2px); // 16px
@base-body-line-height:                         (@global-line-height - 2px); // 18px
@base-body-color:                               @global-color;

@base-link-color:                               @global-link-color;
@base-link-hover-color:                         @global-link-hover-color;
@base-ins-color:                                @global-color;
@base-mark-color:                               @global-color;

@base-margin-vertical:                          @global-margin;

@base-heading-font-family:                      "Roboto", Helvetica, Arial, sans-serif;
@base-heading-color:                            @global-color;
@base-heading-margin-top:                       @global-margin-large;

@base-h1-font-size:                             round((@global-font-size * 2.6)); // 36px
@base-h1-line-height:                           round((@base-h1-font-size * 1.154)); // 42px

@base-h2-font-size:                             round((@global-font-size * 1.74)); // 24px
@base-h2-line-height:                           round((@base-h2-font-size * 1.17)); // 28px

@base-h3-font-size:                             round((@global-font-size * 1.28)); // 18px
@base-h3-line-height:                           round((@base-h3-font-size * 1.32)); // 24px

@base-h4-font-size:                             round((@global-font-size * 1.14)); // 16px
@base-h4-line-height:                           round((@base-h4-font-size * 1.36)); // 22px

@base-h5-font-size:                             @global-font-size; // 14px
@base-h5-line-height:                           (@global-line-height * 0.9); // 18px

@base-h6-font-size:                             round((@global-font-size * 0.85)); // 12px
@base-h6-line-height:                           round((@base-h6-font-size * 1.33)); // 16px

@base-hr-border:                                @global-border-default;

@base-blockquote-border:                        @global-border-default;
@base-blockquote-font-size:                     round((@global-font-size * 1.14)); // 16px
@base-blockquote-line-height:                   round((@base-blockquote-font-size * 1.36)); // 22px

@base-code-font-size:                           round((@global-font-size * 0.85)); // 12px

@base-pre-background:                           #fafafa;
@base-pre-color:                                @global-color;
@base-pre-font-size:                            round((@global-font-size * 0.85)); // 12px
@base-pre-line-height:                          round((@base-pre-font-size * 1.46)); // 18px

//
// New
//

@base-code-border:                              @global-border-default;
@base-code-background:                          #fafafa;
@base-pre-border:                               @global-border-default;


// Body
// ========================================================================

.hook-base-body() {
    p {
        font-size: round((@global-font-size * 1.14)); // 16px
    }
}


// Links
// ========================================================================

.hook-base-link() {}

.hook-base-link-hover() {}


// Text-level semantics
// ========================================================================

.hook-base-code() {
    padding: 0 4px;
    border: 1px solid @base-code-border;
    border-radius: 3px;
    background: @base-code-background;
}


// Headings
// ========================================================================

.hook-base-h() {
    a {
        color: @global-color;
        text-decoration: none;
    }
}

.hook-base-h1() {}

.hook-base-h2() {}

.hook-base-h3() {}

.hook-base-h4() {}

.hook-base-h5() {}

.hook-base-h6() {}


// Horizontal rules
// ========================================================================

.hook-base-hr() {}


// Blockquotes
// ========================================================================

.hook-base-blockquote() {}


// Preformatted text
// ========================================================================

.hook-base-pre() {
    border: 1px solid @base-pre-border;
    border-radius: 3px;
}


// Miscellaneous
// ========================================================================

.hook-base-misc() {}