//
// Component: Dotnav
//
// ========================================================================


// Variables
// ========================================================================
@dotnav-margin-horizontal:                      @global-margin;
@dotnav-margin-vertical:                        @dotnav-margin-horizontal;

@dotnav-width:                                  8px;
@dotnav-height:                                 @dotnav-width;
@dotnav-background:                             rgba(24,24,24,0.2);

@dotnav-hover-background:                       rgba(24,24,24,0.6);
@dotnav-onclick-background:                     rgba(24,24,24,0.8);
@dotnav-active-background:                      rgba(255,255,255,1);

@dotnav-contrast-background:                    rgba(255,255,255,0.4);
@dotnav-contrast-hover-background:              rgba(255,255,255,0.7);
@dotnav-contrast-onclick-background:            rgba(255,255,255,0.9);
@dotnav-contrast-active-background:             rgba(255,255,255,0.9);

// Component
// ========================================================================

.hook-dotnav-misc;

.hook-dotnav-item() {}
.hook-dotnav-item-hover() {}
.hook-dotnav-item-onclick() {}
.hook-dotnav-item-active() {
    border: solid 1px rgba(24,24,24,1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}
.hook-dotnav-contrast-item() {}
.hook-dotnav-contrast-item-hover() {}
.hook-dotnav-contrast-item-onclick() {}
.hook-dotnav-contrast-item-active() {}


// Miscellaneous
// ========================================================================

.hook-dotnav-misc() {}