//
// Component: Dropdown
//
// ========================================================================


// Variables
// ========================================================================

@dropdown-z-index:                              @global-z-index + 20;
@dropdown-background:                           #fff;
@dropdown-color:                                @global-color;
@dropdown-divider-border:                       @global-border-default;

@dropdown-navbar-margin:                        6px;
@dropdown-navbar-background:                    #fff;
@dropdown-navbar-color:                         @global-color;

//
// New
//

@dropdown-border:                               @global-border-default;


// Component
// ========================================================================

.hook-dropdown() {
    border: 1px solid @dropdown-border;
    border-radius: @global-border-radius;
}


// Modifier: `uk-dropdown-navbar`
// ========================================================================

.hook-dropdown-navbar() { left: -1px; }


// Sub-object: `uk-dropdown-overlay`
// ========================================================================

.hook-dropdown-overlay() {}


// Miscellaneous
// ========================================================================

.hook-dropdown-misc() {

    .uk-dropdown-navbar.uk-dropdown-flip { left: auto; }

}