//
// Component: Grid
//
// ========================================================================


// Variables
// ========================================================================

@grid-gutter-horizontal:                        @global-grid-gutter;
@grid-gutter-vertical:                          @global-grid-gutter;

@grid-gutter-large-horizontal:                  @global-grid-gutter-large;
@grid-gutter-large-vertical:                    @global-grid-gutter-large;

@grid-gutter-xlarge-horizontal:                 @global-grid-gutter-xlarge;
@grid-gutter-xlarge-vertical:                   @global-grid-gutter-xlarge;

@grid-divider-border:                           @global-border-default;

/* Even grid cell widths
========================================================================== */

.uk-grid-width-1-8 > * { width: 12.5%; }

/* Phone landscape and bigger */
@media (min-width: @breakpoint-small) {
    .uk-grid-width-small-1-8 > * { width: 12.5%; }
}

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {
    .uk-grid-width-medium-1-8 > * { width: 12.5%; }
}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {
    .uk-grid-width-large-1-8 > * { width: 12.5%; }
}

/* Large screen and bigger */
@media (min-width: @breakpoint-xlarge) {
    .uk-grid-width-xlarge-1-8 > * { width: 12.5%; }
}


/* Sub-objects: `uk-width-*`
========================================================================== */

/*
* Widths
*/

/* Halves */
.uk-width-4-8 { width: 50%; }

/* Quarters */
.uk-width-2-8 { width: 25%; }
.uk-width-6-8 { width: 75%; }

/* Eights */
.uk-width-1-8 { width: 12.5%; }
.uk-width-3-8 { width: 37.5%; }
.uk-width-5-8 { width: 62.5%; }
.uk-width-7-8 { width: 87.5%; }


/* Phone landscape and bigger */
@media (min-width: @breakpoint-small) {

/* Halves */
.uk-width-small-4-8 { width: 50%; }

/* Quarters */
.uk-width-small-2-8 { width: 25%; }
.uk-width-small-6-8 { width: 75%; }

/* Eights */
.uk-width-small-1-8 { width: 12.5%; }
.uk-width-small-3-8 { width: 37.5%; }
.uk-width-small-5-8 { width: 62.5%; }
.uk-width-small-7-8 { width: 87.5%; }
}

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {

/* Halves */
.uk-width-medium-4-8 { width: 50%; }

/* Quarters */
.uk-width-medium-2-8 { width: 25%; }
.uk-width-medium-6-8 { width: 75%; }

/* Eights */
.uk-width-medium-1-8 { width: 12.5%; }
.uk-width-medium-3-8 { width: 37.5%; }
.uk-width-medium-5-8 { width: 62.5%; }
.uk-width-medium-7-8 { width: 87.5%; }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

/* Halves */
.uk-width-large-4-8 { width: 50%; }

/* Quarters */
.uk-width-large-2-8 { width: 25%; }
.uk-width-large-6-8 { width: 75%; }

/* Eights */
.uk-width-large-1-8 { width: 12.5%; }
.uk-width-large-3-8 { width: 37.5%; }
.uk-width-large-5-8 { width: 62.5%; }
.uk-width-large-7-8 { width: 87.5%; }

}

/* Large screen and bigger */
@media (min-width: @breakpoint-xlarge) {

/* Halves */
.uk-width-xlarge-4-8 { width: 50%; }

/* Quarters */
.uk-width-xlarge-2-8 { width: 25%; }
.uk-width-xlarge-6-8 { width: 75%; }

/* Eights */
.uk-width-xlarge-1-8 { width: 12.5%; }
.uk-width-xlarge-3-8 { width: 37.5%; }
.uk-width-xlarge-5-8 { width: 62.5%; }
.uk-width-xlarge-7-8 { width: 87.5%; }

}

/* Sub-object: `uk-push-*` and `uk-pull-*`
========================================================================== */

/*
* Source ordering
* Works only with `uk-width-medium-*`
*/

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {

[class*='uk-push-'],
[class*='uk-pull-'] { position: relative; }

/*
* Push
*/

/* Halves */
.uk-push-4-8 { left: 50%; }

/* Quarters */
.uk-push-2-8 { left: 25%; }
.uk-push-6-8 { left: 75%; }

/* Sixths */
.uk-push-1-6 { left: 16.666%; }
.uk-push-5-6 { left: 83.333%; }

/* Eights */
.uk-push-1-8 { left: 12.5%; }
.uk-push-3-8 { left: 37.5%; }
.uk-push-5-8 { left: 62.5%; }
.uk-push-7-8 { left: 87.5%; }

/*
* Pull
*/

/* Halves */
.uk-pull-4-8 { left: -50%; }

/* Quarters */
.uk-pull-2-8 { left: -25%; }
.uk-pull-6-8 { left: -75%; }

/* Eights */
.uk-pull-1-8 { left: -12.5%; }
.uk-pull-3-8 { left: -37.5%; }
.uk-pull-5-8 { left: -62.5%; }
.uk-pull-7-8 { left: -87.5%; }

}

// Miscellaneous
// ========================================================================

.hook-grid-misc() {}