//
// Component: Icon
//
// ========================================================================


// Variables
// ========================================================================

@icon-font-path:                                "../bower_components/uikit/fonts";

@icon-hover-color:                              @global-muted-color;
@icon-hover-hover-color:                        @global-color;

@icon-button-height:                            @icon-button-width;
@icon-button-background:                        @global-default-background;
@icon-button-font-size:                         round((@icon-button-width * 0.5));
@icon-button-color:                             @global-color;

@icon-button-hover-background:                  @global-default-hover-background;
@icon-button-hover-color:                       @global-color;

@icon-button-active-background:                 @global-default-active-background;
@icon-button-active-color:                      @global-color;

//
// New
//

@icon-button-border:                            #e7e7e7;
@icon-button-hover-border:                      #d3d3d3;
@icon-button-text-shadow:                       @global-text-shadow;


// Modifier: `uk-icon-hover`
// ========================================================================

.hook-icon-hover() {}

.hook-icon-hover-hover() {}


// Modifier: `uk-icon-button`
// ========================================================================

.hook-icon-button() {
    border: 1px solid @icon-button-border;
    text-shadow: 0 1px 0 @icon-button-text-shadow;
}

// Hover
.hook-icon-button-hover() { border-color: @icon-button-hover-border; }

// Active
.hook-icon-button-active() {}


// Miscellaneous
// ========================================================================

.hook-icon-misc() {}