//
// Component: Modal
//
// ========================================================================


// Variables
// ========================================================================

@modal-z-index:                                 @global-z-index + 10;

@modal-dialog-background:                       @global-background;

@modal-header-margin-bottom:                    @global-margin;

@modal-footer-margin-top:                       @global-margin;

@modal-caption-color:                           @global-contrast-color;


// Component
// ========================================================================

.hook-modal() {}


// Sub-object: `uk-modal-dialog`
// ========================================================================

.hook-modal-dialog() {
    border-radius: @global-border-radius;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


// Modifier: `uk-modal-dialog-lightbox`
// ========================================================================

.hook-modal-dialog-lightbox() { border-radius: 0; }


// Sub-object: `uk-modal-header`
// ========================================================================

.hook-modal-header() {
    margin: (-@modal-dialog-padding) (-@modal-dialog-padding) @modal-header-margin-bottom (-@modal-dialog-padding);
    padding: @modal-dialog-padding;
    border-bottom: 1px solid @global-border-default;
    border-radius: @global-border-radius @global-border-radius 0 0;
    background: #fafafa;
}


// Sub-object: `uk-modal-footer`
// ========================================================================

.hook-modal-footer() {
    margin: @modal-footer-margin-top (-@modal-dialog-padding) (-@modal-dialog-padding) (-@modal-dialog-padding);
    padding: @modal-dialog-padding;
    border-top: 1px solid @global-border-default;
    border-radius: 0 0 @global-border-radius @global-border-radius;
    background: #fafafa;
}


// Sub-object: `uk-modal-caption`
// ========================================================================

.hook-modal-caption() {}


// Sub-object: `uk-modal-spinner`
// ========================================================================

.hook-modal-spinner() {}


// Miscellaneous
// ========================================================================

.hook-modal-misc() {}