//
// Component: Nestable
//
// ========================================================================


// Variables
// ========================================================================

@nestable-dragged-z-index:                      @global-z-index + 50;

@nestable-placeholder-border:                   @global-border-default;

@nestable-panel-background:                     @global-default-background;

//
// New
//

@nestable-border:                               rgba(0,0,0,0.06);
@nestable-text-shadow:                          @global-text-shadow;


// Component
// ========================================================================

.hook-nestable() {}

.hook-nestable-item() {}

.hook-nestable-dragged() {}

.hook-nestable-placeholder() {}

.hook-nestable-empty() {}

.hook-nestable-handle() {}

.hook-nestable-toggle() {}

.hook-nestable-panel() {
	border-radius: @global-border-radius;
    border: 1px solid @nestable-border;
    text-shadow: 0 1px 0 @nestable-text-shadow;
}


// Miscellaneous
// ========================================================================

.hook-nestable-misc() {}