//
// Component: Off-canvas
//
// ========================================================================


// Variables
// ========================================================================

@offcanvas-z-index:                             1000;
@offcanvas-background:                          rgba(24, 24, 24, 0.4);

@offcanvas-bar-width:                           160px;
@offcanvas-bar-background:                      rgba(24, 24, 24, 1);

@offcanvas-z-index:                             9999;

//
// New
//

@offcanvas-panel-text-shadow:                   rgba(0,0,0,0.5);


// Component
// ========================================================================

.hook-offcanvas() {}


// Sub-object `uk-offcanvas-bar`
// ========================================================================

.hook-offcanvas-bar() {}


// Panel in offcanvas
// ========================================================================

.hook-offcanvas-panel() {
    text-shadow: 0 1px 0 @offcanvas-panel-text-shadow;
}


// Miscellaneous
// ========================================================================

.hook-offcanvas-misc() {


    .uk-offcanvas-bar-flip:after {
        right: auto;
        left: 0;
        width: 1px;
        background: rgba(0,0,0,0.6);
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.6);
    }

}