//
// Component: Placeholder
//
// ========================================================================


// Variables
// ========================================================================

@placeholder-margin-vertical:                   @global-margin;
@placeholder-padding:                           @global-margin;
@placeholder-border:                            @global-border-default;
@placeholder-color:                             @global-color;


// Component
// ========================================================================

.hook-placeholder() {}

.hook-placeholder-large() {}


// Miscellaneous
// ========================================================================

.hook-placeholder-misc() {}