//
// Component: Subnav
//
// ========================================================================


// Variables
// ========================================================================

@subnav-color:                                  @global-color;
@subnav-hover-color:                            @global-link-color;
@subnav-active-color:                           @global-link-color;

@subnav-line-border:                            @global-border-default;

@subnav-pill-hover-background:                  @global-default-background;
@subnav-pill-hover-color:                       @global-color;
@subnav-pill-active-background:                 @global-transparent-background;
@subnav-pill-active-color:                      @global-color;

@subnav-disabled-color:                         @global-muted-color;


// Component
// ========================================================================

.hook-subnav() {}

.hook-subnav-hover() {}

.hook-subnav-active() {}


// Modifier: `uk-subnav-line'
// ========================================================================

.hook-subnav-line-divider() {}


// Modifier: `uk-subnav-pill'
// ========================================================================

.hook-subnav-pill() {
    box-sizing: border-box;
    border: 1px solid @global-transparent-background;
    border-radius: @global-border-radius;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hook-subnav-pill-hover() {}

.hook-subnav-pill-active() {
    border: 1px solid @global-border-primary;
}

/* Modifier: 'subnav-timeline'
 ========================================================================== */
 
/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Remove default focus style
 */

.uk-subnav-timeline > * > :hover,
.uk-subnav-timeline > * > :focus { // 1
    background: @global-transparent-background;
    color: @subnav-pill-hover-color;
    text-decoration: none;
    /* 2 */
    outline: none;
    .hook-subnav-timeline-hover;
}
.hook-subnav-timeline-hover() {}

// Disabled state
// ========================================================================

.hook-subnav-disabled() { box-shadow: none; }


// Miscellaneous
// ========================================================================

.hook-subnav-misc() {}