//
// Component: Text
//
// ========================================================================


// Variables
// ========================================================================

@text-small-font-size:                          round((@global-font-size * 0.85)); // 12px
@text-small-line-height:                        round((@text-small-font-size * 1.33)); // 16px

@text-large-font-size:                          round((@global-font-size * 1.28)); // 18px
@text-large-line-height:                        round((@text-large-font-size * 1.32)); // 24px

@text-muted-color:                              @global-muted-color;
@text-contrast-color:                           @global-contrast-color;


// Miscellaneous
// ========================================================================

.hook-text-misc() {
    .uk-text-compact {
        line-height: (@global-line-height * 0.9); // 18px
    }
    .uk-text-indent {
        text-indent: 2em;

        &:first-child {
            text-indent: 0;
        }
    }
}