//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Breakpoints
//
@breakpoint-small:                              480px;
@breakpoint-medium:                             768px;
@breakpoint-large:                              1024px;
@breakpoint-xlarge:                             1200px;

@breakpoint-mini-max:                           (@breakpoint-small - 1);
@breakpoint-small-max:                          (@breakpoint-medium - 1);
@breakpoint-medium-max:                         (@breakpoint-large - 1);
@breakpoint-large-max:                          (@breakpoint-xlarge - 1);

//
// Text
//

@global-color:                                  rgba(24,24,24,1);
@global-muted-color:                            #999;
@global-text-shadow:                            #fff;

@global-link-color:                             #07D;
@global-link-hover-color:                       #059;

@global-contrast-color:                         #fff;
@global-contrast-text-shadow:                   rgba(0,0,0,0.2);

@global-font-size:                              14px;
@global-line-height:                            20px;

//
// Backgrounds & Borders
//
@global-background:                             #f1f2f3;
@global-border-default:                         #c0c5c5;
@global-border-primary:                         #deb68d;
@global-border-contrast:                        #fff;

@global-border-radius:                          4px;

@global-default-background:                     #fff;
@global-default-hover-background:               #fafafa;
@global-default-active-background:              #eee;

@global-primary-background:                     #deb68d;
@global-success-background:                     #8cc14c;
@global-warning-background:                     #faa732;
@global-danger-background:                      #da314b;
@global-danger-background:                      #da314b;
@global-transparent-background:                 rgba(0,0,0,0);

//
// Spacings
//

@global-margin:                                 16px;
@global-margin-small:                           (@global-margin / 2); // 8px
@global-margin-large:                           (@global-margin + @global-margin-small); // 24px
@global-margin-xlarge:                          (@global-margin-large * 2); // 48px

@global-grid-gutter:                            25px;
@global-grid-gutter-large:                      35px;
@global-grid-gutter-xlarge:                     50px;

//
// Controls
//

@global-height:                                 30px;
@global-height-mini:                            20px;
@global-height-small:                           25px;
@global-height-large:                           40px;

//
// Z-index
//

@global-z-index:                                1000;