[viewBag]
[staticPage]
[staticMenu]
code = "main-menu"
==
use Jenssegers\Agent\Agent;

function onStart()
{
    $this['agent'] = new Agent();
}
==
<!DOCTYPE html>
<html lang="ru" dir="ltr" class="uk-height-1-1">
<head>
    {% partial 'meta' %}
    {% partial 'styles' %}
    {% styles %}
</head>
<body class="uk-height-1-1">
    <header id="layout-header" class="uk-hidden-large">
        {% partial 'header/mobile' %}
    </header>

    <aside
        id="layout-sidebar"
        class="uk-height-1-1 uk-visible-large uk-position-z-index"
        style="background-color:rgba(24,24,24,1);position:fixed;width:160px;">
            {% partial 'sidebar' %}
    </aside>

    <div id="layout-content" class="uk-height-1-1">
        {% if emptyLayout %}
            {% page %}
        {% else %}
            {% if placeholder('fixed_header') %}
                {% partial 'header/_title_fixed' %}
                <div class="uk-container uk-container-center">
                    {% page %}
                </div>
            {% else %}
                <div class="uk-container uk-container-center">
                    {% partial 'header/_title_default' %}
                    {% page %}
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% partial 'offcanvas' %}
    {% partial 'scripts' %}
</body>
</html>